.hero {
    background: url('hubbleimages/background_w320.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: whitesmoke;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 2px 2px black;
}

p {
    color: rgb(194, 182, 182);
    font-weight: 300;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
   
}

.opaque-background {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hero-text {
    text-align: center;
}

@media only screen and (min-width: 853px) {
.hero {
    background: url('hubbleimages/background_w853.jpg') no-repeat;
    background-size: cover;
}

    
}

@media only screen and (min-width: 1228px) {

    .hero {
        background: url('hubbleimages/background_w1228.jpg') no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 1440px) {

    .hero {
        background: url('hubbleimages/background_w1440.jpg') no-repeat;
        background-size: cover;
    }
}